body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom right, #520000, #420000);
}

.container {
    height: 100%;
    
}

nav {

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    font-size: 24px;
    color: #ffa500;
    text-decoration: none;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-circle {
    width: 400px;
    height: 400px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background: linear-gradient(to bottom right, #fdada8, #dad6ce);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border-left: 4px solid black
}

.hour,
.minute,
.second {
    position: absolute;
    background-color: black;
}

.hour {
    width: 4px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(0deg);
}

.minute {
    width: 4px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(120deg);
}

.second {
    width: 4px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(240deg);
}

.small-circle-one {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #8af07c;
    border-radius: 50%;
}

.small-circle-two {
    width: 30px;
    height: 30px;
    margin-left: 70px;
    margin-top: 130px;
    background-color: #fcf94a;
    border-radius: 50%;
    animation: small-circle 1.5s 0s ease-out infinite;
}

.small-circle-three {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 80px;
    top: 110px;
    background-color: #1eff00;
    border-radius: 50%;
    animation: small-circle 1.5s 0s ease-out infinite;
}

@keyframes small-circle {
    0% {
        box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(207, 8, 8, 0);
    }

    10% {
        box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
    }

    100% {
        box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0), 0 0 0 40px rgba(207, 8, 8, 0);
    }
}

.second-direction {
    content: "";
    position: relative;
    bottom: 0px;
    /* Adjust this value to position the line */
    left: 0%;
    width: 2px;
    height: 10px;
    background-color: black;
    border-radius: 2px;
}
.fisrt-direction {
    color: white;
    position: absolute;
    margin-left: -100px;
}

.vertical-line {
    width: 0px;
    /* Width of the line */
    height: 40px;
    /* Height of the line */
    /* background: repeating-linear-gradient(to bottom, black 0%, black 2px, transparent 2px, transparent 4px); Adjust the size of dots */
    border: 1px dashed white;
    color: white;
    margin-left: 50px;

}

.dotted-line {
    position: relative;
    width: 125px;
    border: 1px dashed white;
    margin-left: 50px;
}

.dotted-line-two {
    position: relative;
    width: 0px;
    top: 0px;
    height: 100px;
    margin-top: 190px;
    margin-left: 305px;
    border: 1px dashed white;
}

.target {
    position: absolute;
    /* margin-top:110px; */
    top: 90px;
    right: -40px;
    width: 200px;
    margin-right: -100px;

}
.indicators {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-100%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #888;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #ede4e4;
}

/*card*/
.card-section {
    display: flex;
    margin-top: 90px;
    margin-left: 147px;
}

.card-one {
    width: 170px;
    height: 100px;
    background-color: rgba(223, 173, 38, 0.903);
    color: white;
    margin-right: -1px;
    
    border: 1px solid black;
    
    border-radius: 20px 0px 0px 20px;
   
    box-shadow: 0px 6px 6px rgba(223, 173, 38, 0.903);
   
}

.card-two {
    width: 170px;
    height: 100px;
    background-color: rgba(223, 173, 38, 0.903);
    color: white;
    margin-right: -1px;
   
    border: 1px solid black;
  
    border-radius: 0px 20px 20px 0px;
 
    box-shadow: 0px 6px 6px rgba(223, 173, 38, 0.903);
   
}

.card p {
 
    margin: 0;
}

h3 {
    text-align: center;
    color: black;
}

/* Last Section*/
.containerr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 270px;

}

.circle {
    width: 200px;
    height: 200px;
    margin-right: 400px;
    background-color: rgb(94, 24, 24);
    
    border-radius: 50%;
 
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank {
    font-size: 24px;
    font-weight: bold;
    line-height: 1px;
    
    color: white;
    margin: 0;
}

.progress-bar {
    width: 40%;
     height: 30px;
    position: absolute;
    margin-left: 26%;
    border-radius: 0px 10px 0px 0px;

}

.small-circle {
    width: 10px;
    height: 10px;
    background-color: grey;
     border-radius: 50%;
     position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.small-circle:nth-child(1) {
    left: 25%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 30px;

}

.small-circle:nth-child(2) {
    left: 75%;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 30px;
}

progress {
    background-color: #ffa500;
    border-radius: 20px;
}


progress {
    color: black;
}

progress::-webkit-progress-value {
    background: #ffa500
}

progress::-moz-progress-bar {
    background: black;
}

